# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
build/
pubspec.lock

# Android
android/.gradle/
android/app/build/
*.iml
*.hprof
local.properties
*.keystore
.cxx/
captures/
.externalNativeBuild/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.xcuserstate

# VS Code
.vscode/

# JetBrains/Android Studio
.idea/
*.iws
*.iml
*.ipr
*.idea_backup/

# Binary files
*.apk
*.aab
*.so
*.dill
*.lib
*.class
*.jar
*.dex

# Logs
*.log
flutter_*.log

# Misc
*.lock
*.tmp
*.swp
.DS_Store
